:root {
  --primary-color: #00ff2a93;
  --secondary-color: #ff000093;
  --status-online-color: #39e25593;
  --status-offline-color: #d62d2d93;
  --card-bg-color: #402d82a7;
  --status-in-game-color: #a77d2e;
}
