.wrapper {
  padding: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}
